/*bg-color section-padding row*/

body {
    font-size: 15px;
    line-height: 1.5;
    color: #717f86;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    margin: 0 auto;
    height:100%;
}

.header-h {
    color: #3AB795;
    font-size: 104px;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}



#event {
    background: url('../images/array-of-foods.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height:100%;
}



/*.left-images img {
    height: 308px;
    width: 100%;
}*/


/*Here's where  the styling for the Carousel begins*/
.details-text {
    background-color: rgb(14, 4, 4);
    padding: 18px;
    height: auto;
    overflow: hidden;
}



.details-text p {
    color: white;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 10px;
    font-weight: bolder;
}
.content-h2 {
    position:relative;
    top:-2em;
    color:#A0E8AF;
    font-family: 'Satisfy', sans-serif;

}
.btn-read-more {
    background: #EDEAD0;
    padding: 6px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    border-color: none;
}

.btn-read-more:hover {
    background: #3AB795;
    color: #EDEAD0;
}


/*carousel styles*/
.carousel-inner {
    height: 100px;
    overflow: initial;
}

.carousel-indicators {
    margin-left:20px;
}

.carousel-inner>.item>img {
    height: 300px;
    width: 100%;
    opacity: 0.3;
    padding-bottom: 24px;
}

.content-holder {
    margin-top: -24px;
}

.content-holder>p,
button {
    position: relative;
    color: #EDEAD0;
    top: -30px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.glyphicon-search {
    position: relative;
    left: -3em;
    font-size: 2em;
}


@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('assets/foodifai.mp4') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}