

ul {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    overflow: auto;
}

li {
    box-shadow: 0 0 0 2px #546578 inset;
    margin: 0 0 5px 0;
    border-radius: 16px;
    line-height: 28px;
    padding: 2px 15px;
    font-weight: 500;
    font-size: 15px;
    color: #2E4157;
}

ul li i {
    font-family: "Lucida Console", Courier, monospace;
    font-style: normal;
    font-size: 14px;
}

.conceptBox {
    float: left;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
    height: 100%;
}


#loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#loading-text {
     display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
}

#header {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
}

#content {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
}

#imgurl {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    float:left;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#imgurl:focus {
    width: 55%;
    outline: none;
    

}

#file-search {
    background-color:yellow;
}



#predict-food {
    position:relative;
    left:25%;
    top:25em;
    background:black;
    float:left;
    width:60%;
    opacity:0.85;
    animation: fadein 2.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fileContainer {
    overflow: hidden;
    position: relative;
    color:white;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: inline;
    float:left;
    /*font-size: 20px;*/
    filter: alpha(opacity=0);

    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}


.fileContainer:hover {
    color: #FFB03B;
}


label {
    float:left;
}


body {
  background-color: rgba(0, 0, 0, .85)
}


#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:100;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  color:white;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid orange;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid black;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid orange;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: crimson;
  border-bottom-color: crimson;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: orange;
  border-bottom-color: orange;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: black;
  border-bottom-color: black;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#header
{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
}

#content
{
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
}


.container-fluid {
  padding: 0;
  background-color: rgba(0, 0, 0, .5);
  min-height: 100vh;
  overflow:hidden;
}

.full-width {
  width: 100%;
}

.row {
  margin: 0 auto;
}

a.col-md-3 {
  padding: 1em;
  text-decoration: none;
  color: white;
}
  
  .half-width {
  width: 50%;
  float: left;
}


/** Not sure if I want to include name nav in mobile version
a.name {
  color: black;
  background-color: rgb(245, 245, 245);
  position:relative;
}
**/
/** NAV BAR **/
/* a.portfolio {
  background-color: rgb(171, 152, 122);
  position:fixed;
  top:0;

}

a.about {
  background-color: black;
  position:fixed;
  top:3.5em;

}

a.contact {
  background-color: rgb(255, 83, 61);
  position:fixed;
  top:7em;

} */

/** NAME SECTION **/
/* #name {

  padding-top: 8em;
}
 */
h1 {
  color: white;
  padding-top: 2em;
}

hr {
  border: 1px solid black;
  width: 75%;
}

#name p {
  color: white;
  margin: 1em 4em;
  text-align: center;
}

/*  @media only screen and (min-width: 768px) { */
  /** BASE STYLES **/
   
   .full-width {
    width: 100%;
  }
   
  a.col-md-3 {
    padding: 1em;
    text-decoration: none;
    color: white;
  }
  
   /** NAVBAR **/
  a.name {
    color: black;
    background-color: rgb(245, 245, 245);
    position:fixed;
    left:0%;
    top:0%;
    z-index:2;
  }
   
  a.portfolio {
    background-color: rgb(171, 152, 122);
    position: fixed;
    left: 25%;
    top:0%;
    z-index:2;
  }
   
  a.about {
    background-color: black;
    position: fixed;
    left:50%;
    top:0%;
    z-index:2;
  }
   
  a.contact {
    background-color: rgb(255, 83, 61);
    position: fixed;
    left:75%;
    top:0%;
    z-index:2;
  }
  
#middle {
  position:relative;
  top:10em;
}